.section-wiregrames {
	background-color: #0375e9;
	padding-top: rem-calc(35);
	padding-bottom: rem-calc(30);
	background-repeat: no-repeat;
	background-size: cover;

	@include media('≥tablet') {
		padding-top: rem-calc(90);
		padding-bottom: rem-calc(83);
	}

	.container {
		@include media('<desktop') {
			max-width: 800px;
		}
	}

	.heading {
		color: $white;
		max-width: 50%;

		@include media('≥tablet') {
			max-width: 440px;
		}

		p {
			font-size: rem-calc(12);
			line-height: 1.2;

			@include media('≥phone') {
				font-size: rem-calc(14);				
			}

			@include media('≥tablet') {
				font-size: rem-calc(16);
				line-height: 1.5;
			}
		}
	}

	h2 {
		color: $white;		
	}

	.wiregrames-holder {
		margin-top: rem-calc(-150);

		@include media('≥tablet') {
			margin-top: rem-calc(-188);
		}
	}

	.list-info {
		@extend %listreset;

		&:after {
			display: table;
			clear: both;
			content: '';
		}

		li {
			float: right;
			width: 50%;
			padding: 30px 15px;
			position: relative;

			@include media('≥tablet') {
				float: left;
				width: 33.3333333%;
				padding: 37px 10px;
			}

			&:nth-child(4n) {
				float: left;
			}

			&:nth-child(6n+2),
			&:nth-child(6n+3) {
				@include media('≥tablet') {
					float: right;
				}
			}

			&:first-child {
				float: right;
				
				.img-holder {
					&:after {
						@include media('<tablet') {
					    width: 25px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    top: calc(100% + 30px);
					    right: 0;
					    left: 0;
					    margin: auto;
					    transform: rotate(-90deg);
					  }
					}
				}
			}

			&:last-child {
				.img-holder {
					&:after {
						display: none;
					}
				}
			}

			&:nth-child(2) {
				clear: both;
			}

			&:nth-child(4n + 2) {
				.img-holder {
					&:after {
						@include media('<tablet') {
					    width: 25px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    top: 0;
					    bottom: 0;
					    right: calc(100% + 3px);
					    left: auto;
					    margin: auto;
				  	}
					}
				}
			}

			&:nth-child(4n) {
				.img-holder {
					&:after {
						@include media('<tablet') {
					    width: 25px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    top: 0;
					    bottom: 0;
					    left: calc(100% + 3px);
					    transform: rotate(-180deg);
					    margin: auto;
				  	}
					}
				}
			}

			&:nth-child(2n + 3) {
				.img-holder {
					&:after {
						@include media('<tablet') {
					    width: 25px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    top: calc(100% + 30px);
					    right: 0;
					    left: 0;
					    margin: auto;
					    transform: rotate(-90deg);
				  	}
					}
				}
			}

			&:nth-child(6n+2),
			&:nth-child(6n+1) {
				.img-holder {
					margin-left: auto;
				}
			}

			&:nth-child(3n+3) {
				.img-holder {
					margin-left: auto;
					margin-right: auto; 
				}
			}
		
			&:nth-child(6n - 5),
			&:nth-child(6n - 2) {
				.img-holder {
					&:after {
						@include media('≥tablet') {
							width: 30px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    top: calc(100% + 37px);
					    left: 0;
					    right: 0;
					    margin: auto;
					    transform: rotate(-90deg);
				  	}
					}
				}
			}

			&:nth-child(6n - 4), 
			&:nth-child(6n - 3) {
				.img-holder {
					&:after {
						@include media('≥tablet') {
							width: 42px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    right: calc(100% + 27px);
					    margin: auto;
					    top: 0;
					    bottom: 0;
				  	}

				    @include media('≥desktop') {
							width: 84px;
				    }
					}
				}
			}


			&:nth-child(6n - 1), 
			&:nth-child(6n) {
				.img-holder {
					&:after {
						@include media('≥tablet') {
							width: 42px;
					    height: 7px;
					    position: absolute;
					    content: "";
					    background: url(images/arrow_left.png) no-repeat left;
					    left: calc(100% + 27px);
					    margin: auto;
					    top: 0;
					    bottom: 0;
					    transform: rotate(180deg);
				  	}

				    @include media('≥desktop') {
				    	width: 84px;
				    }
					}
				}
			}
		
			.img-holder {
				position: relative;
				width: 100%;

				@include media('≥tablet') {
					width: 200px;
				}

				@include media('≥desktop') {
					width: 250px;
				}
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}