header#header.header
	nav.navbar.navbar-expand-lg
		.container
			a(href="#").arrow-btn
				.icon-holder
					img(src="images/arrow_back.png" srcset="images/arrow_back@2x.png 2x" alt="image description" width="42" hegiht="42")
				span BACK
			a.navbar-brand(href='#')
				img(src="images/logo_sigma.png", srcset="images/logo_sigma@2x.png 2x" width="131" height="37" alt="sigma software")
